@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Poppins", sans-serif;
}
/* font class */
.poppins {
  font-family: "Poppins", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
.manrope {
  font-family: "Manrope", sans-serif;
}

/* custom color */
.bg-header {
  background-color: #264653;
}
.honda-orange {
  color: #e76f51;
}
.honda-blue {
  color: #23a6f0;
}

/* button style */
.honda-btn-purchase {
  color: white;
  background-color: #e76f51;
  border-radius: 5px;
  padding: 9px 35px;
  border: none;
}

/* featured bike style */
.featured-bike-img {
  filter: grayscale(100%);
}

/* clients image style */
.client-img-height {
  width: 149px;
  height: 149px;
}

/* faq image height */
.faq-image-height {
  width: 431.2px;
  height: 423.5px;
}
